*{
	padding:0;
	margin:0;
}
body,html{
	width:100%;
	height:100%;
	font-family: "微软雅黑","宋体";
	font-size: 12px;
	color: #666;
}
.main{
	width:100%;
	height:100%;
	background:transparent;
}
ul,li{
	list-style: none;
}
.clearfloat{
	clear:both;
}
/*头部start*/
.head{
	width:100%;
}
.logo{
	width:1020px;
	height:110px;
	margin:0 auto;
	padding-top:10px;
}
.nav{
	width:100%;
	height:50px;
	background: transparent;
}
.nav_g{			
	width:1020px;
	margin:0 auto;
}
.nav_g li a{
	float:left;
	color:#fff;
	line-height:50px;
	width:110px;
	margin-right:40px;
	text-align:center;
	font-size:18px;
	text-decoration:none;
}
.nav_g li a:hover{
	background: #fff;
	color:#000;
}
/*头部end*/

/*尾部start*/
.footer{
	width:100%;
	/*height:125px;*/
	overflow: hidden;
	background: transparent;
	color:#545454;
}
.footer_left{
	float:left;
}
.footer_right{
	float:right;
}
.footer_box{
	width:1020px;
	overflow: hidden;
	margin:0 auto;
}
.footer_left ul{
	padding-top:15px;
}
.footer_left ul li{
	line-height: 30px;
	color:#888;
	font-size:14px;
}
.footer_left ul li:hover{
	color:#eee;
}
.footer_right ul{
	padding-top:15px;
}
.footer_right ul li{
	line-height: 30px;
	color:#888;
	font-size:14px;
	cursor: pointer;
}
.footer_right ul li a{
	line-height: 30px;
	color:#888;
	font-size:14px;
	text-decoration:none;
}
.footer_right ul li a:hover{
	color:#eee;
}

/*尾部end*/